**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
tests/
Dockerfile*
docker-compose*
.dockerignore
README.md
*.md
.env
.env.*
!.env.example
